@charset "UTF-8";


/*Global / Desktop View*/
.main {
	background-color: #FB8354;
	
}
header {
	background-color: rgba(37,166,148,1.00);
	padding-top: 0px;
	padding-left: 19px;
	padding-right: 19px;
	padding-bottom: 12px;
	position: center;
	height: 50px;
	display: block;
}
.container {
	max-width: 1200px;
	margin-top: ;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	background-image: url(images/Screen%20Shot%202018-01-29%20at%204.41.11%20AM.png);
	background-repeat: no-repeat;
	background-position: center;
}
nav {
	float: right;
}
.mobile-view {
	display: none;
}
.desktop-view ul li {
	list-style-type: none;
	display: inline-block;
	background-color: #309F87;
}
.desktop-view {
	margin-top: -4px;
}
.desktop-view ul li a {
	padding-top: 13px;
	padding-right: 43px;
	padding-bottom: 13px;
	padding-left: 43px;
	text-decoration: none;
	color: #E8E8E8;
}
.btn-red {
	background-color: #FF6138;
}
.btn-green {
	background-color: #F2DC00;
}
body {
	font-family: open-sans-condensed;
	font-style: normal;
	font-weight: 300;
	background-color: #EAEAEA;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}
.hero-image {
	height: 653px;
	background-image: url(images/Screen%20Shot%202018-01-29%20at%204.41.11%20AM.png);
	background-repeat: no-repeat;
	background-size: 648px   417;
	background-position: center 0%;
	padding-top: 0px;
	display: flex;
	justify-content: ;
	opacity: 1;
}
main {
	min-height: 800px;
}
.social-icon a img {
	margin-right: 30px;
}
footer {
	height: 97px;
	margin-top: 33px;
	margin-left: 20px;
	margin-right: 20px;
}
.social-icon {
	float: left;
	margin-top: 11px;
}
.copyright {
	float: right;
	margin-top: 26px;
}
.hero-content {
	margin-top: 83px;
	margin-left: 100px;
}
.float-left {
	float: left;
}
.float-right {
	float: right;
}
.availability {
	color: #FFFF9D;
	margin-top: 7px;
	margin-left: 15px;
}
.clearfloat {
	clear: both;
}
h1 {
	color: #FFFFFF;
	font-size: 80px;
	font-family: playfair-display;
	font-style: normal;
	font-weight: 400;
	line-height: 88px;
	padding-top: 50px;
	padding-right: 50px;
	padding-bottom: 50px;
	padding-left: 50px;
}
.heart img {
	width: 400px;
	height: 400px;
	padding-bottom: 100px;
	top: 100px;
}
span {
	padding-bottom: 400px;
	position: absolute;
	color: #F9F9F9;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
	font-style: normal;
	font-weight: 400;
	font-size: xx-large;
	padding-top: 150px;
}
 .closer  {
	display: flex;
	justify-content: center;
	background-color: none;
	opacity: 30%;
	 margin-left: 150px;
	 
	
}
hr {
	border-style: solid;
	border-color: #FFFFFF;
	margin-top: -17px;
	margin-bottom: 52px;
}
.hero-content .btn-red {
	padding-top: 13px;
	padding-right: 43px;
	padding-bottom: 13px;
	padding-left: 43px;
	text-decoration: none;
	color: #E8E8E8;
}
.image-grid {
	margin-top: 142px;
	margin-bottom: 40px;
}
.col {
	background-color: #FE00F7;
	margin-left: 1%;
	margin-right: 1%;
	margin-bottom: 2%;
}
.col-lg {
	width: 31.3%;
}
.responsive-image {
	width: 100%;
	height: auto;
	display: block;
}
.image-grid:after {
	clear: both;
	display: block;
	content: "";
}
.text-white-description {
	color: #FFFFFF;
	font-size: 30px;
}
.text-red {
	color: #FF6138;
}
body {
}





/*Tablet View*/
@media (min-width: 401px) and (max-width: 768px){
.mobile-view {
	display: block;
	float: right;
	margin-top: 8px;
}
.desktop-view {
	display: none;
	text-align: right;
}
.expand {
	display: block;
}	
.desktop-view ul li {
	display: block;
	margin-top: 25px;
}
.hero-content {
	margin-left: 25px;
	margin-right: 25px;
}
h1 {
	font-size: 65px;
	line-height: 68px;
}
.col-md {
	width: 48%;
	margin-left: 1%;
	margin-top: 1%;
	margin-right: 1%;
	margin-bottom: 1%;
}
.image-grid {
	margin-top: 184px;
}
}



/*Mobile View*/
@media (max-width: 400px){
.mobile-view {
	display: block;
	float: right;
}
.desktop-view {
	display: none;
	text-align: right;
}
.expand {
	display: block;
}	
header a img {
	width: 83%;
	height: 83%;
}
.mobile-view {
	margin-top: 6px;
}
.desktop-view ul li {
	display: block;
	margin-top: 25px;
}
.hero-image {
	height: 526px;
	display: flex;
}
.hero-content {
	margin-left: 10px;
	margin-right: 10px;
	text-align: center;
}
h1 {
	font-size: 42px;
	line-height: 46px;
	margin-bottom: 54px;
}
.hero-content hr {
	display: none;
}
.hero-content img.float-left {
	margin-left: 35px;
}
.col-xs {
	width: 98%;
	margin-top: 1%;
	margin-right: 1%;
	margin-bottom: 1%;
	margin-left: 1%;
}
.hero-content p {
	font-size: 20px;
}
}
.col-md {
}
.closer {
	width: 400px;
	height: 400px;
	float: left;
	background-color: none;
}
